{% macro adminSidebar(activeLink) %}
<nav class="admin-sidebar">
  <p class="govuk-body-s admin-sidebar__section-label">Administration</p>
  <ul class="govuk-list admin-sidebar__list">

    {# Dashboard #}
    <li class="admin-sidebar__item">
      <span class="admin-sidebar__toggle">
        <span class="admin-sidebar__icon">+</span>
        <a class="govuk-link admin-sidebar__link-text
          {% if activeLink == 'dashboard' %}admin-sidebar__sub-link--active{% endif %}"
          href="/admin-dashboard">Dashboard</a>
      </span>
    </li>

    {# CMS administration #}
    <li class="admin-sidebar__item">
      <span class="admin-sidebar__toggle">
        <span class="admin-sidebar__icon">+</span>
        <span class="admin-sidebar__link-text">CMS administration</span>
      </span>
    </li>

    {# System administration #}
    <li class="admin-sidebar__item">
      <span class="admin-sidebar__toggle">
        <span class="admin-sidebar__icon">+</span>
        <span class="admin-sidebar__link-text">System administration</span>
      </span>
    </li>

    {# Storage administration #}
    <li class="admin-sidebar__item">
      <span class="admin-sidebar__toggle">
        <span class="admin-sidebar__icon">+</span>
        <a class="govuk-link admin-sidebar__link-text" href="/admin/storage">Storage administration</a>
      </span>
      <ul class="admin-sidebar__sub-list">
        <li>
          <a class="govuk-link admin-sidebar__sub-link
            {% if activeLink == 'blob-storage' %}admin-sidebar__sub-link--active{% endif %}"
            href="/admin/blob-storage">Blob storage</a>
        </li>
      </ul>
    </li>

    {# Publication administration #}
    <li class="admin-sidebar__item">
      <span class="admin-sidebar__toggle">
        <span class="admin-sidebar__icon">+</span>
        <a class="govuk-link admin-sidebar__link-text" href="/admin/publication">Publication administration</a>
      </span>
      <ul class="admin-sidebar__sub-list">
        <li>
          <a class="govuk-link admin-sidebar__sub-link
            {% if activeLink == 'data-publication' %}admin-sidebar__sub-link--active{% endif %}"
            href="/admin-publication">Data publication</a>
        </li>
      </ul>
    </li>

    {# Data egress #}
    <li class="admin-sidebar__item">
      <span class="admin-sidebar__toggle">
        <span class="admin-sidebar__icon">+</span>
        <a class="govuk-link admin-sidebar__link-text" href="/admin-egress/pull">Data egress</a>
      </span>
      <ul class="admin-sidebar__sub-list">
        <li>
          <a class="govuk-link admin-sidebar__sub-link
            {% if activeLink == 'data-egress' %}admin-sidebar__sub-link--active{% endif %}"
            href="/admin-egress/pull">Start a new egress</a>
        </li>
        <li>
          <a class="govuk-link admin-sidebar__sub-link
            {% if activeLink == 'egress-runs' %}admin-sidebar__sub-link--active{% endif %}"
            href="/admin-egress/runs">Egress runs</a>
        </li>
      </ul>
    </li>

    {# Audit log #}
    <li class="admin-sidebar__item">
      <span class="admin-sidebar__toggle">
        <span class="admin-sidebar__icon">+</span>
        <a class="govuk-link admin-sidebar__link-text
          {% if activeLink == 'audit-log' %}admin-sidebar__sub-link--active{% endif %}"
          href="/audit-log">Audit log</a>
      </span>
    </li>

  </ul>
</nav>
{% endmacro %}